a.out
*.[oa]
*.h.gch
.*.swp
solutions
bigint_test
graphlib_test
perf.data*
*~
\#*#
*.gcda
*.gcno
*.gprof
*.prof
gmon.out
*.gcov

# Local files
.DS_Store
.idea/
.vscode/
.fleet/

# Binaries
[0-9][0-9][0-9]
